/.idea/
/ec2instance/src/test/
/ec2instance/target/
/loadbalancer/src/test/
/loadbalancer/target/
/src/
/webserver/src/test/
/webserver/target/
/target/
/ec2instance/instrumentationcode/config-bit.sh
